<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.application">
    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".BookingActivity"
            android:exported="false"
            android:label="@string/title_activity_booking"
            android:theme="@style/Theme.Application" />
        <activity
            android:name=".DharamshalaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TirthDetailsActivity"
            android:exported="false" />
        <activity android:name=".UvasagaramActivity" />
        <activity android:name=".Namuthunam" />
        <activity android:name=".ManglikActivity" />
        <activity android:name=".Navkar1" />
        <activity android:name=".PavapuriActivity" />
        <activity
            android:name=".GirnarjiActivity"
            android:exported="false" />
        <activity
            android:name=".ShikharjiActivity"
            android:exported="false" />
        <activity
            android:name=".PalitanaActivity"
            android:exported="false" />
        <activity
            android:name=".VideoStavanActivity"
            android:exported="false" />
        <activity
            android:name=".AudioStavanActivity"
            android:exported="false" />
        <activity
            android:name=".AartiActivity"
            android:exported="false" />
        <activity
            android:name=".StavanLyricsActivity"
            android:exported="false" />
        <activity
            android:name=".TirthankarListActivity"
            android:exported="false" />
        <activity
            android:name=".TirthankarStoryActivity"
            android:exported="false" />
        <activity android:name=".TirthankarActivity" />
        <activity android:name=".NavkarMantraActivity" />
        <activity android:name=".KarmaActivity" />
        <activity android:name=".ChaityavandanActivity" />
        <activity android:name=".BhaktambarActivity" />
        <activity android:name=".SamayikActivity" />
        <activity android:name=".PratikramanActivity" />
        <activity android:name=".AshtaPujaActivity" />
        <activity
            android:name=".DharamshalaActivity"
            android:exported="false" />
        <activity android:name=".StateTempleListActivity" />
        <activity
            android:name=".TempleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PanchTirthiDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MantraDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentHostActivity"
            android:exported="false" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".LoginActivity" />
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnHTIPo7VT_8nqmep-qtdY0AFVEJA_D2k" />

        <activity android:name=".PakistanActivity" />
        <activity android:name=".CityTempleActivity" />

        <activity
            android:name=".ThailandActivity"
            android:exported="false" />

        <activity android:name=".IndiaActivity" />
        <activity android:name=".StutisStavansActivity" />
        <activity android:name=".LearningJainismActivity" />
        <activity android:name=".PachkhanActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LanguageSelectionActivity" />
        <activity android:name=".PermissionActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>